@import "Variables";


.zhc-modal__body,
.zhc-confirmation-modal {
    background: $BackgroundColor-1 !important;
}

.zh-board-container {
    background: $BackgroundColor-1 !important;
}

.zhc-info-alert__content {
    color: $DescriptionTextColor-1 !important;
}

.discussion-sidebar-item .zhc-sidebar-pipeline-selector__label,
.zhc-sidebar-selector-button__heading {
    color: $Grey-1 !important;
}

.zhc-sidebar-pipeline-selector__button__header__name {
    color: $PrimaryText !important;

}

.zhc-sidebar__navigation,
.zhc-sidebar--is-full-width .zhc-sidebar__navigation,
.zhc-sidebar__footer-right,
.zhc-sidebar__footer-left,
.zhc-sidebar-profile__toggle,
.zhc-sidebar__container__inner,
.zh-inviteTeamButtonMain {
    background: $BackgroundColor-3 !important;
}

.zhc-sidebar-profile__name .zhc-sidebar-profile__name__text {
    color: white !important;
}

.zhc-sidebar-nav-item,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-sidebar-nav-item__label,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-sidebar-nav-item__label,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-sidebar-nav-item__label,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-sidebar-nav-item__action,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-sidebar-nav-item__action,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-sidebar-nav-item__action,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-sidebar-link-item,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-sidebar-link-item,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-sidebar-link-item,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-sidebar-profile,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-sidebar-profile,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-sidebar-profile,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-collapsible,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-collapsible,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-collapsible,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-tutorial-tooltip,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-tutorial-tooltip,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-tutorial-tooltip,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-sidebar-warning,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-sidebar-warning,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-sidebar-warning,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-workspace-header__contents,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-workspace-header__contents,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-workspace-header__contents,
.zhc-sidebar--is-dropdown-open .zhc-sidebar__container .zhc-workspace-import-sidebar--expanded,
.zhc-sidebar--is-full-width .zhc-sidebar__container .zhc-workspace-import-sidebar--expanded,
.zhc-sidebar--is-hovered .zhc-sidebar__container .zhc-workspace-import-sidebar--expanded {
    color: white !important;
}


.zhc-workspace-header:hover {
    background: transparent !important;
}

.zhc-issue-card__heading__main,
.zhc-issue-card__issue-title,
.zhc-pipeline-form__pipeline-name {
    color: $PrimaryText !important;
}

.zhc-pipeline-form__pipeline-description {
    color: $SecondaryText !important;
}

.zhc-sidebar-nav-item:hover {
    background: $DropDownItemHoverBackgroundColor !important;
}

.zhc-sidebar-nav-item--is-active {
    background: $MenuBackgroundActive !important;
}

.zhc-sidebar-active-pipeline__name {
    color: $SecondaryText !important;
}

.zhc-pipeline-header__main {
    color: white !important;
}

.zhc-info-alert,
.zh-epic-issue-container.TimelineItem .zhc-epic-list,
.zh-epic-issue-container.TimelineItem .zhc-epic-issue-list__container,
.zh-dependency-manager-container.TimelineItem .zhc-dependency,
.zhc-grid-table,
.zhc-grid-table__cell {
    background: $BackgroundColor-3 !important;
}

.zhc-grid-table__first-col {
    border-right: 3px solid $SeparationBorderColor-1 !important;
}

.zhc-grid-table__cell__title {
    background: $TableHeaderBackground !important;
}

.zhu-text-important {
    color: $SecondaryText !important;
}

.zhc-button,
.zhc-button--color-secondary {
    @include SecondaryButton;
}

.zhc-selection-button__container {
    color: $SecondaryText;
}

.zhc-selection-list__header,
.zhc-selection-list-deprecated__header__text {
    color: $NormalTextColor-1 !important;
    text-shadow: none !important;
}

.zhc-selection-list__item,
.zhc-selection-list__list .ReactVirtualized__List,
.zhc-selection-list-deprecated__body,
.zhc-selection-item {
    background: $DropDownBackgroundColor !important;
}

.zhc-breadcrumbs__button--active,
.zhc-breadcrumbs--extension-topbar .zhc-breadcrumbs__button:hover,
.zhc-selection-list__item--is-highlighted,
.zhc-selection-item:hover,
.zhc-selection-item--is-active,
.zh-select-menu-item.navigation-focus,
.zh-select-menu-item:hover,
.zh-tabs__nav-item:hover,
.zhc-options-dropdown-item,
.zhc-selection-list-deprecated:not(.zhc-selection-list-deprecated--has-search) .zhc-selection-list-item:hover:not(.zhc-selection-item--is-disabled),
.zhc-selection-list-deprecated:not(.zhc-selection-list-deprecated--has-search) .zhc-selectable-selection-item:hover:not(.zhc-selection-item--is-disabled) {
    background: $DropDownItemHoverBackgroundColor !important;
}

.zhc-options-dropdown-item,
.zhc-selection-item {
    color: white !important;
}


/* This isnt working as zenhub has !important on theirs... */
.zhc-icon:not([class$="-red"]):not([class$="-white"]),
.zhc-board-loading,
.zhc-board-loading__message,
.zh-octicon-list-unordered,
.zh-octicon-pencil,
.zh-octicon-inbox,
.zh-octicon-plus,
.zh-octicon-info,
.zh-octicon-milestone,
.zh-octicon-chevron-down,
.zh-epic-creator-tab-icon,
.zh-board-menu-item .zh-octicon-grey,
.zh-octicon-search,
.zhc-burndown-chart__placeholder {
    filter: none !important;
}