.grid {
    display: grid;
    grid-template-columns: 180px 180px;
}

.grid-item {
    padding: 2px;
}

content span {
    margin-bottom: 5px;
}

.button-row {
    margin-top: 10px;

    button {
        padding: 3px;
        margin-right: 5px;
    }
}

.small-text {
    font-size: 12px;
    color: lightgray;
}

button {
    background: #555;
    color: white;
    border: 1px solid rgb(110, 110, 110);
}

.MuiSelect-icon,
.MuiSelect-select,
.MuiInput-underline {
    color: white !important;
    border-bottom-color: white;
}

.MuiSelect-selectMenu {
    min-width: 150px !important;
}

.MuiListItem-button {
    background: #333 !important;
    color: white !important;
}

.MuiListItem-button:hover {
    background: #555 !important;
}
