$primary-font-color: rgb(255, 255, 255);
$background-color: rgb(34, 34, 34);

body {
    margin: 0px;
    padding: 20px;
    background-color: $background-color;
}

.title {
    margin-top: 0px;
    margin-bottom: 7px;
    padding-right: 5px;
}

.titleVersion {
    color: orange;
}

a.authorLink {
    float: left;
    margin-top: -20px;
    margin-left: 170px;
    font-size: 15px;
    color: orange;
    text-decoration: none;
}

a.authorLink:hover {
    color: white;
    cursor: pointer;
}

.popupContainer {
    align-items: center;
    color: $primary-font-color;
    display: grid;
    font-size: 20px;
    height: auto;
    justify-content: center;
    width: auto;
}
